# Personal details
# title: Alina Aleks
email: toalinaaleks@gmail.com
# description: >-
#  "A yearlong experiment in learning, writing, and showing up."
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://alinaaleks.github.io"
github_username: alinaaleks

# Plugins
plugins:
  - jekyll-bookshop
  - jekyll-feed
  - jekyll-sitemap
  - jekyll/tagging

# Multiple bookshops can be used on one website,
# or different production / staging locations.
bookshop_locations:
  - component-library

exclude:
  - postcss.config.js
  - node_modules

# include:
#  - _cloudcannon

# Collections
collections_dir: "collections"

collections:
  pages:
    output: true
    permalink: /:title/
  projects:
    output: true
    permalink: /project/:slug
  testimonials:
    output: false
  posts:
    output: true
    permalink: /blog/:slug

# Default layout for content
defaults:
  - scope:
      path: ""
    values:
      layout: default
  - scope:
      type: pages
      path: _pages/index.html
    values:
      permalink: /
  - scope:
      type: projects
    values:
      layout: project
  - scope:
      type: posts
    values:
      layout: post

# SEO settings (optional)
tag_page_dir: tag
tag_page_layout: tag_page
tag_permalink_style: /:title

# New section for project tags
tag_project_page_dir: tag-project
tag_project_page_layout: tag_project
tag_project_permalink_style: /project/tag/:title
# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
