/* Animate */
body:not(.stop-animations) .animate {
  animation: animateElement cubic-bezier(.300,.450,.450,.950) .75s;
  animation-duration: 0.75s;
  animation-iteration-count: 1;
  transition: transform .15s;

  @keyframes animateElement{
    0% {
      transform:  translate(0px, 80px);
    }
    100% {
      transform:  translate(0px, 0px);
    }
  }
}

.resize-animation-stopper * {
  transition: none !important;
}

.flow-wrapper {
  overflow: hidden;
  width: 100%;
}

.flowchart {
  display: block;
  width: 100%;
  animation: slide 20s linear infinite;
}

@keyframes slide {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.flow-wrapper:hover .flowchart {
  animation-play-state: paused;
}