<!-- begin footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col col-12">

        {% bookshop_include social-link %}

        {% assign current_lang = page.lang | default: site.default_lang %}
        {% assign footer_file = "footer_" | append: current_lang %}
        {% assign footer = site.data[footer_file] | default: site.data.footer_en %}

        {% assign footer_items = footer.footer_menu__settings.menu__items | default: [] %}

        <ul class="footer_nav list-reset">
          {% for item in footer_items %}
          <li class="footer_nav__item">
            <a href="{{ item.url | relative_url }}" class="footer_nav__link">
              {{ item.title }}
            </a>
          </li>
          {% endfor %}
        </ul>

        <div class="copyright">
          {{ footer.copyright_text_html }}
        </div>

      </div>
    </div>
  </div>
</footer>
<!-- end footer -->