<div class="project__navigation animate">

  {% if page.previous.url %}
  <a class="project__prev" href="{{ page.previous.url }}">
    {% if page.previous.image %}
    <div class="prev__image">
      <img loading="lazy" src="{{ site.baseurl }}{{ page.previous.image }}" alt="{{ page.previous.title }}">
    </div>
    {% endif %}
    <div class="prev__box">
      <span class="project__nav project__nav__prev">Prev project</span>
      <h2 class="project__nav__title">{{ page.previous.title }}</h2>
    </div>
  </a>
  {% endif %}

  {% if page.next.url %}
  <a class="project__next" href="{{ page.next.url }}">
    <div class="next__box">
      <span class="project__nav project__nav__next">Next project</span>
      <h2 class="project__nav__title">{{ page.next.title }}</h2>
    </div>
    {% if page.next.image %}
    <div class="next__image">
      <img loading="lazy" src="{{ site.baseurl }}{{ page.next.image }}" alt="{{ page.next.title }}">
    </div>
    {% endif %}
  </a>
  {% endif %}

</div>