.c-project-card {
  margin-bottom: 20px;

  /* ================= IMAGE ================= */

  &__image {
    position: relative;
    display: block;
    height: 0;
    padding-bottom: 71.25%;
    overflow: hidden;
    border-radius: 16px;
    background: $blue-gray;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform .4s ease;
    }
  }

  
  /* ================= CONTENT BELOW IMAGE ================= */

  &__content {
    padding: 18px 4px 40px;
  }

  &__title {
    font-size: 22px;
    line-height: 1.35;
    font-weight: 600;
    letter-spacing: -0.01em;
    margin-bottom: 10px;
  }

	&__separator {
		height: 1px;  // thickness of the line
  	margin: 8px 0;  // spacing above and below
  	background: linear-gradient(
    	to right,
    	rgba($text-color, 1) 0%,
    	rgba($text-color, 0.5) 30%,
    	rgba($text-color, 0) 100%
  	);
	}

&__description {
  font-size: 15px;
  line-height: 1.6;
  // color: $text-color-muted;
  margin-bottom: 8px;
}

  &__date {
    font-size: 13px;
    color: $text-color-muted;
    margin-bottom: 10px;
  }

  &__tags {
    margin-top: 6px;
  }

	&__tags-box {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }
}