{% assign c = "c-project-card" %}

<article class="{{c}} col col-4 col-d-6 col-t-12">

  <a href="{{ include.project.url }}" class="{{c}}__image">

    <img loading="lazy"
         src="{{ include.project.image }}"
         alt="{{ include.project.title }}">

    <div class="{{c}}__overlay">

      {% if include.project.subtitle %}
        <div class="{{c}}__subtitle">
          {{ include.project.subtitle }}
        </div>
      {% endif %}

      <div class="{{c}}__separator"></div>

      {% if include.project.date %}
        {% assign year = include.project.date | date: "%Y" %}
        {% assign month_index = include.project.date | date: "%-m" | minus: 1 %}
        {% assign months = site.data.months[current_lang] %}

        <div class="{{c}}__date">
          {{ months[month_index] }} {{ year }}
        </div>
      {% endif %}

    </div>

  </a>

  <div class="{{c}}__content">

<h3 class="{{c}}__title">
  <a href="{{ include.project.url }}" class="{{c}}__title-link">
    {{ include.project.title }}
  </a>
</h3>

{% if include.project.tags.size >= 1 %}
  <div class="{{c}}__tags-box">
    {% for tag in include.project.tags %}
  {% assign tag_slug = tag | slugify %}       <!-- for URL -->
  {% assign tag_key = tag | downcase %}       <!-- for looking up in tags.yml -->
  {% assign localized_tag = site.data.tags[tag_key][current_lang] | default: tag %}
  {% assign tag_type = site.data.tags[tag_key].type | default: "category" %}

  <a href="{% if current_lang == 'ru' %}{{ site.baseurl }}/ru/tag-project/{{ tag_slug }}{% else %}{{ site.baseurl }}/tag-project/{{ tag_slug }}{% endif %}"
     class="{{c}}__tag {{c}}__tag--{{ tag_type }}">
    {{ localized_tag }}
  </a>
{% endfor %}
  </div>
{% endif %}

  </div>

</article>