{% assign c = "c-project-card" %}
<article class="{{c}} col col-4 col-d-6 col-t-12">
  <div class="{{c}}__content">

    <a href="{{ include.project.url }}" class="{{c}}__image">
      <img loading="lazy" src="{{ include.project.image }}" alt="{{ include.project.title }}">
    </a>

    <!-- ALWAYS VISIBLE -->
    <div class="{{c}}__meta">
      <h3 class="{{c}}__title">{{ include.project.title }}</h3>

      {% if include.project.tags %}
      <div class="{{c}}__tags">
        {% for tag in include.project.tags %}
          <span class="{{c}}__tag">{{ tag }}</span>
        {% endfor %}
      </div>
      {% endif %}
    </div>

    <!-- HOVER OVERLAY -->
    <div class="{{c}}__overlay">
      {% if include.project.subtitle %}
      <div class="{{c}}__subtitle">{{ include.project.subtitle }}</div>
      {% endif %}
    </div>

  </div>
</article>