/* Color Scheme */
$primary-color: #1495a7;
$secondary-color: #003687;
$white: #fff;
$dark: #110E38;
$gray: #d9d9d9;
$light-gray: #f8f9fa;
$blue-gray: #d5dce3;

$background-color: #fdfdff;
$background-color-alt: $white;

$text-color: $dark;

$heading-font-color: $text-color;

$link-color: $text-color;
$link-color-hover: $text-color;

$button-color: $background-color-alt;
$button-background-color: $primary-color;
$button-background-hover: darken($primary-color, 5%);

$border-color: $blue-gray;

$hr-color: $text-color;
$tr-color: #f0f0f0;

$syntax-highlighting-background: #f3f3f3;

$pale-yellow: #FFF4C1;
$pale-rose: #F4C2C2;
$powder-teal: #a0d4dd;
$powder-teal-paler: #e4f2f4;
$brick-red: #b7413e;

$rose: #e2979c;
$rose-2: #F7A8A8;
$pale-green: #D0F0C0;