<!DOCTYPE html>
<html lang="ru">

{% include head.html %}

<body>

    {% include header.html %}

    <div class="container">
      <h1>404 - Страница не найдена</h1>
      <p><strong>Ой! Страница, которую вы ищете, не существует.</strong></p>
      <p>Извините за неудобства! Пожалуйста, проверьте URL или вернитесь на <a href="{{ site.baseurl }}">главную страницу</a>.</p>
  </div>

    {% include footer.html %}

    <script src="/assets/js/scripts.js"></script>
    <script src="/assets/js/common.js"></script>
</body>
</html>