{% if site.data.social_links.social %}
<div class="social">
  <ul class="social__list list-reset">
    {% for social in site.data.social_links.social %}
    <li class="social__item">
      <a class="social__link"
         href="{{ social.link }}"
         target="_blank"
         rel="noopener"
         aria-label="{{ social.name | downcase }} icon">

        {% if social.icon contains "<svg" %}
          {{ social.icon }}
        {% else %}
          <ion-icon name="{{ social.icon }}"></ion-icon>
        {% endif %}

      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}